<h1><%=@places["name"]%></h1>

<ul>
  <% for entry in @entries %>
    <li>
      <h2><%= entry["title"] %></h2>
      Date: <%= entry["posted_on"] %>
     <p> Descritpion: <%= entry["description"] %></p>
    </li>
  <% end %>
<p>
    <a href="/entries/new?place_id=<%= @places.id %>">New entry</a>
</p>

<p>
  <a href="/places/">Back to All Places</a>
</p>